<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css">

<footer class="site-footer h-card">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
         
        </ul>
        <span><a class="no-underline-hover" target="_blank" rel="noopener noreferrer" href="https://hdlabconicet.github.io">
        <img src="{{site.baseurl}}/assets/logo hd lab.png" style="max-width: 30%;"/>
          <a class="no-underline-hover" target="_blank" rel="noopener noreferrer" href="https://dracor.org">
        <img src="{{site.baseurl}}/assets/dracor.png" style="max-width: 10%;"/>
             <a class="no-underline-hover" target="_blank" rel="noopener noreferrer" href=" <a class="no-underline-hover" target="_blank" rel="noopener noreferrer" href="https://www.germanistik.uni-rostock.de/forschung/digital-humanities/rosdh/">
        <img src="{{site.baseurl}}/assets/rosdh.png" style="max-width: 15%;"/>
      </a></span>
      {%- endif %}
      </div>
      <div class="footer-col">
        <ul class="contact-list">
          <li class="p-name">{{ site.time | date: '%Y' }} {{ site.title | escape }}.</li> 
             <li class="no_bullet"><a href="https://n2t.net/ark:69774/adc2025">https://n2t.net/ark:69774/adc2025</a></li>
          <li class="p-name">Biblioteca digital. ISSN 3072-7715</li>
          <li class="p-name">CC BY 4.0</li>
          <li class="p-name">Marcelo T. de Alvear 1694 – Buenos Aires (CABA) – Argentina</li>
          <li class="p-name">secrit@conicet.gov.ar / hdlabconicet@gmail.com</li>
          <li class="p-name">Teléfono +54-11-4129-1158</li>
        </ul>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
