<div id="resultado"></div>

  <script>
    const valorBuscado = "{{page.url | remove : "/obras/"| remove : ".html" }}";

    const urlCSV = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQDRi6oL3EbBS14Z6gOyJc12guLm3_CPOaQ6jDo2CXN9bUCKEJ2dbhmPcvg06Z-pSrZwj4QgfStcjKk/pub?gid=0&single=true&output=csv";

    Papa.parse(urlCSV, {
      download: true,
      header: true,
      skipEmptyLines: true,
      complete: function(results) {
        const datos = results.data;

        const fila = datos.find(row => row.ID === valorBuscado);

        if (fila) {
          const contenedor = document.getElementById("resultado");
          contenedor.innerHTML = `
            <h3>${fila.Título}</h3>
            <p><strong>Autor:</strong> ${fila.Autor}</p>
            <p><strong>Estreno:</strong> ${fila.Estreno}</p>
            <p><strong>Escrito:</strong> ${fila.Escrito}</p>
            <p><strong>Teatro de estreno:</strong> ${fila.Teatro}</p>
            <p><strong>Ciudad de estreno:</strong> ${fila.Ciudad}</p>
            <p><strong>Género:</strong> ${fila.Género}</p>
            <p><strong>Comentarios:</strong> ${fila.Comentarios}</p>
          `;
        } else {
          document.getElementById("resultado").textContent = "No se encontró la obra.";
        }
      }
    });
  </script>